<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <File name="Detailed_File" fileName="/var/log/xunil.log">
            <PatternLayout pattern="| %d{HH:mm:ss.SSS} |-( %20.20t )-[ %22.22logger{36} ] -- %5level : %msg%n"/>
        </File>
        <Console name="Condensed_Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%5level : %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Detailed_File" level="INFO"/>
            <AppenderRef ref="Condensed_Console"/>
        </Root>
    </Loggers>
</Configuration>
